# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache

# Sanity
/.sanity

# Node
node_modules
/.pnp
.pnp.js

# Compiled
/dist
dist

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
*.local
*.pem

# Local env files
.env
.env.*
!.env.example

# Logs
/logs
*.log

# Coverage directory used by testing tools
/coverage

# Typescript
*.tsbuildinfo
